body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

.checkbox {
  color: white;
}

ul {
  color: white;
}

.effects {
  background-color: aqua;
}

/* .App {
  background-image: "url(/weedPic.png)";
  background-position: 'center';
  background-size: 'cover';
  width: '100vw';
  height: '100vh';
} */
