body {
  margin: 20px;
  background: url("../public/weedPic.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CDC2AE;
  color: black;
  text-align: center;
  border: 5px solid darkgreen;
  padding: 5px;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.strainContainer {
  display: inline-block;
}

.strainBox {
  border: 5px solid darkgreen;
  border-radius: 20px;
  width: 200px;
  margin: 5px;
  padding: 5px;
  float: left;
  background-color: lightgreen;
  opacity: 0.8;
}

.form {
  border: 5px solid darkgreen;
  border-radius: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: lightgreen;
  opacity: 0.8;
}

.formInput {
  border: 2px solid darkgreen;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
}

textarea {
  border: 2px solid darkgreen;
  border-radius: 5px;
}

h1 {
  color: darkgreen;
  background: lightgreen;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid darkgreen;
  border-radius: 20px;
  opacity: 0.8;
}

h2 {
  color: white;

}

h3 {
  color: white;
  /* background-color: lightgreen;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid darkgreen;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid darkgreen;
  border-radius: 20px;
  opacity: 0.8; */
}

.button {
  border-radius: 5px;
  margin: 5px;
  background-color: darkgreen;
  color: lightgreen;
  padding: 5px 10px;
}

.effects {
  display: inline-flex;
  margin: 5px;
}

.selectMenu {
  padding: 5px;
  background-color: lightgreen;
  border: 2px solid darkgreen;
  border-radius: 5px;
}

.loginSignupButton {
  border-radius: 5px;
  margin: 5px;
  background-color: darkgreen;
  color: lightgreen;
  padding: 10px 20px;
  font-size: 20px;
}

.backButton {
  border-radius: 5px;
  margin: 5px;
  background-color: darkgreen;
  padding: 10px 20px;
  font-size: 20px;
}
